
/*************** Estilos principales estructura *********/
.contenedor {
    position: relative;
    background-color: #D4D4D7;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width:100%;
    height: 2400px;
}

.general {
    position: absolute;
    top: 60px;
    bottom: 0px;
    right: 15%px;
    left: 15%;
    width: 70%;
}

.izquierda {
    position: absolute;
    width: 35%;
    height: 1700px;
    background: #454C57;
    ;
}

.derecha {
    position: absolute;
    background-color: #fff;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 35%;
    width: 65%;
    height: 1700px;
}

/*************************** Estilos Izquierda *************************/

/***** estilos foto *****/

.nombreperfil {
    margin-left: 70px;
    margin-top: 30px;
}

.nombreperfil {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: left;
    color: #fff;
    font-size: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.perfil {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: left;
    color: #fff;
    font-size: 30px;
    margin-top: 0px;
    padding-top: 0px;
}

.foto {
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 70px;
    margin-bottom: 25px;
}

/***** estilos Perfil *****/ 

.perfilseccion {
    background-color: #373D46;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    line-height: 45px;
}

.perfilseccion p {
    text-align: start;
    margin-left: 35px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: left;
    color: #fff;
    font-size: 25px;
}

.perfilinfo {
    margin-left: 35px;
}

.perfilinfo ul {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    
}

.perfilinfo ul li {
    text-decoration: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: left;
    color: #fff;
    font-size: 18px;
    margin: 0px;
    padding: 0px
}

.perfilinfo ul li p {
    margin: 0px 0px;
    padding: 0px;
}

/**** Estilos Habilidades ***/

.habilidadesseccion {
    background-color: #373D46;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    line-height: 45px;
}

.habilidadesseccion p {
    margin-left: 35px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: left;
    color: #fff;
    font-size: 25px;
}


.habilidadesinfo {
    margin-left: 52px;
    margin-bottom: 30px;
}

.habilidadesinfo ul {
    display: inline-block;
    text-decoration: none;
    /*list-style: none;*/
    margin: 0px;
    padding: 0px;
    
}

.habilidadesinfo ul li {
    text-decoration: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: left;
    color: #fff;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    line-height: 40px;
    
}

.habilidadesinfo ul li p {
    margin: 0px 0px;
    padding: 0px;
    
}

/***** Estilos SOFTWARE *****/

.Softwareseccion {
    background-color: #373D46;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    line-height: 45px;
}

.Softwareseccion p {
    margin-left: 35px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: left;
    color: #fff;
    font-size: 25px;
}


.softwareizq {
    width:100px ;
    margin-left: 35px;
    margin-bottom: 30px;
}

.softwareizq ul {
    text-align: left;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;   
}

.softwareizq ul li {
    text-decoration: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: left;
    color: #fff;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    line-height: 40px;
    
}

.softwareizq ul li p {
    margin: 0px 0px;
    padding: 0px;
    
}

.softwareder {
    position: absolute;
    top: 1138px;
    bottom: 0px;
    right: 0px;
    left: 140px;
    width:200px ;
    margin-left: 35px;
    margin-bottom: 30px;
}

.softwareder ul {

    list-style: none;
    margin: 0px;
    padding: 0px;   
}

.softwareder ul li {
    display: inline-block;
    margin: 0px;
    padding: 0px 2px;
    line-height: 39px;
    
}

.softwarederul li p {
    margin: 0px 0px;
    padding: 0px;
    
}

/***** Estilos Idiomas ******/

.idiomasseccion {
    background-color: #373D46;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    line-height: 45px;
}

.idiomasseccion p {
    margin-left: 35px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: left;
    color: #fff;
    font-size: 25px;
}

.idiomasizq {
    width:110px ;
    margin-left: 35px;
    margin-bottom: 30px;
}

.idiomasizq ul {
    text-align: left;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;   
}

.idiomasizq ul li {
    text-decoration: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: left;
    color: #fff;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    line-height: 40px;
    
}

.idiomasizq ul li p {
    margin: 0px 0px;
    padding: 0px;
    
}

.idiomasder {
    position: absolute;
    top: 1468px;
    bottom: 0px;
    right: 0px;
    left: 140px;
    width:200px ;
    margin-left: 35px;
    margin-bottom: 30px;
}

.idiomasder ul {

    list-style: none;
    margin: 0px;
    padding: 0px;   
}

.idiomasder ul li {
    display: inline-block;
    margin: 0px;
    padding: 0px 2px;
    line-height: 39px;
    
}

.idiomasder li p {
    margin: 0px 0px;
    padding: 0px;
    
}

/*************************** Estilos Derecha *************************/
/****** Estilos Generales Derecha ****/
.contenedorderecha {
    position: absolute;
    background-color: #fff;
    top: 0;
    bottom: 0;
    right: 5%;
    left: 5%;
    width: 90%;
    height: 1700px;
}

/***** Estilos informacion general ****/
.infogeneral {
    margin-top: 40px;
}

.infogeneral p {
    text-align: justify;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #24282E;
}

/***** Estilos Experiencia ******/

.experiencia {
    border-top: 0.5px solid #bbbb;
    border-bottom: 0.5px solid #bbbb;
}

.experiencia p {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 25px;
    line-height: 45px;
    color: #373D46;
}

.fechaexperiencia1 {
    display: inline-block;
    position: relative;
    top: -60px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 18%;
    height: 3%;
}

.fechaexperiencia1 p {
    text-align: left;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373D46;
}

.experiencia1 {
    display: inline-block;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 78%;
    height: 12%;
    margin-top: 20px;
}

.experiencia1 p {
    text-align: justify;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373D46;
}


.fechaexperiencia2 {
    display: inline-block;
    position: relative;
    top: -60px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 18%;
    height: 3%;
}

.fechaexperiencia2 p {
    text-align: left;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373D46;
}

.experiencia2 {
    display: inline-block;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 78%;
    height: 12%;
    margin-top: 20px;
}

.experiencia2 p {
    text-align: justify;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373D46;
}

.fechaexperiencia3 {
    display: inline-block;
    position: relative;
    top: -60px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 18%;
    height: 3%;
}

.fechaexperiencia3 p {
    text-align: left;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373D46;
}

.experiencia3 {
    display: inline-block;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 78%;
    height: 12%;
    margin-top: 40px;
}

.experiencia3 p {
    text-align: justify;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373D46;
}

/****** Educacion *****/ 

.Educacion {
    border-top: 0.5px solid #bbbb;
    border-bottom: 0.5px solid #bbbb;
}

.Educacion p {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 25px;
    line-height: 45px;
    color: #373D46;
}

.fechaeducacion1 {
    display: inline-block;
    position: relative;
    top: -10px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 18%;
    height: 3%;
}

.fechaeducacion1 p {
    text-align: left;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373D46;
}

.educacion1 {
    display: inline-block;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 78%;
    height: 12%;
    margin-top: 40px;
}

.educacion1 p {
    text-align: justify;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373D46;
}

.fechaeducacion2 {
    display: inline-block;
    position: relative;
    top: -100px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 18%;
    height: 3%;
}

.fechaeducacion2 p {
    text-align: left;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373D46;
}

.educacion2 {
    display: inline-block;
    position: relative;
    top: -90px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 78%;
    height: 6%;
    margin-top: 0px;
    margin: 0;
    padding: 0;
}

.educacion2 p {
    text-align: justify;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373D46;
}

/***Estilos Cursos y Certificacion**/


.Cursos {
    position: relative;
    border-top: 0.5px solid #bbbb;
    border-bottom: 0.5px solid #bbbb;
    top: -90px;
    bottom: 0;
    right: 0;
    left: 0;
}

.Cursos p {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 25px;
    line-height: 45px;
    color: #373D46;
}

.fechacurso1 {
    display: inline-block;
    position: relative;
    top: -120px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 18%;
    height: 3%;
}

.fechacurso1 p {
    text-align: left;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373D46;
}

.curso1 {
    display: inline-block;
    position: relative;
    top: -100px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 78%;
    height: 12%;
    margin-top: 40px;
}

.curso1 p {
    text-align: justify;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373D46;
}


.fechacurso2 {
    display: inline-block;
    position: relative;
    top: -250px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 18%;
    height: 3%;
}

.fechacurso2 p {
    text-align: left;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373D46;
}

.curso2 {
    display: inline-block;
    position: relative;
    top: -230px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 78%;
    height: 12%;
    margin-top: 40px;
}

.curso2 p {
    text-align: justify;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373D46;
}

.fechacurso3 {
    display: inline-block;
    position: relative;
    top: -370px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 18%;
    height: 3%;
}

.fechacurso3 p {
    text-align: left;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373D46;
}

.curso3 {
    display: inline-block;
    position: relative;
    top: -350px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 78%;
    height: 12%;
    margin-top: 40px;
}

.curso3 p {
    text-align: justify;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373D46;
}


.fechacurso4 {
    display: inline-block;
    position: relative;
    top: -500px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 18%;
    height: 3%;
}

.fechacurso4 p {
    text-align: left;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373D46;
}

.curso4 {
    display: inline-block;
    position: relative;
    top: -480px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 78%;
    height: 12%;
    margin-top: 40px;
}

.curso4 p {
    text-align: justify;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #373D46;
}